<!DOCTYPE html>
<html>

<head>
  <title>Edit Movie</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

  <section class="edit-form">
    <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="form-box">
              <h2 class="text-white">Edit Movie</h2>
              <form action="/update/<%= movie._id %>" method="post" enctype="multipart/form-data">
                <input type="text" name="name" class="form-control my-3" value="<%= movie.name %>" required>
                <input type="text" name="category" class="form-control my-3" value="<%= movie.category %>" required>
                <input type="number" step="0.1" class="form-control my-3" name="rating" value="<%= movie.rating %>" required>

                <img src="/uploads/<%= movie.image %>" class="preview">
                <input type="file" name="image" class="form-control">

                <button type="submit" class="btn btn-outline-secondary mt-3">UPDATE MOVIE</button>
              </form>

              <center><a href="/" class="btn btn-add">Back</a></center>
            </div>
      </div>

    </div>
  </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</body>

</html>